@import "tailwindcss";

/* @media (max-width: 639px) {
  .sidebar {
    transition: width 0.3s ease;
  }
  .sidebar.open {
    width: 200px; 
  }

  .sidebar .menu-text {
    display: none;
  }
  .sidebar.open .menu-text {
    display: inline-block;
  }

  .sidebar .logo-text {
    display: none;
  }
  .sidebar.open .logo-text {
    display: block;
  }

  .navbar{
    padding-left: 300px;
  }

  .routes-content{
    padding-left: 200px;
  }
}

 */





